.paintContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.paintTools {
	height: 8rem;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.paintBoard {
	flex: 1;
	width: 100%;
}

.paintToolsGroup {
	display: flex;
	padding: 0 0.5rem;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	gap: 0.5rem;
}

.paintInputContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.paintInputColor {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 3.5rem;
	height: 2.5rem;
	border: none;
	cursor: pointer;
	outline: none;

	&::-webkit-color-swatch {
		border-radius: 50%;
		border: 2px solid #ffffff;
	}

	&:focus-within::-webkit-color-swatch {
		border: 2px solid rgb(214, 57, 149);
	}

	&::-moz-color-swatch {
		border-radius: 50%;
		border: 2px solid #ffffff;
	}

	&:focus-within::-moz-color-swatch {
		border: 2px solid rgb(214, 57, 149);
	}
}

.paintInputText {
	background-color: black;
	color: white;
	padding: 0.25rem;
	border: 2px solid white;
	border-radius: 30px;
	outline: none;

	&:focus {
		border: 2px solid rgb(214, 57, 149);
	}
}

.paintButton {
	background-color: black;
	color: white;
	padding: 0.25rem;
	border: 2px solid white;
	border-radius: 30px;
	width: 2rem;
	height: 2rem;

	cursor: pointer;

	&:hover,
	&:focus {
		border: 2px solid rgb(214, 57, 149);
		color: rgb(214, 57, 149);
	}
}

.paintEraserActive {
	color: black;
	background-color: white;
}

.paintButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.paintInputText {
	width: 4rem;
}

@media (min-width: 768px) {
	.paintTools {
		font-size: 1.25rem;
	}

	.paintInputText {
		width: 6rem;
		padding: 0.5rem;
	}

	.paintButton {
		width: 4rem;
		font-size: 1rem;
	}
}
