@import "./../../assets/styles/variables";
.loginProfile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	gap: 1rem;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.userAvatar {
	width: 10rem;
	height: 10rem;
	border: 6px solid white;
	border-radius: 400px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.user {
	font-size: 2rem;
	font-weight: bold;
}

.loginPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
}

.passwordInput,
.loginJoinButton,
.loginButton,
.logoutButton {
	background-color: black;
	color: white;
	padding: 0.75rem 1.5rem;
	border: 2px solid white;
	border-right: none;
	border-radius: 30px 0 0 30px;
	outline: none;
	transition: 0.2s;
	cursor: pointer;
}

.logoutButton {
	border-right: 2px solid white;
	border-radius: 30px;
	padding: 0.4rem 0.6rem;
	font-size: 0.7rem;
	cursor: pointer;
}

.signInButton {
	transition: 0.1s;
	background-color: black;
	color: white;
	padding: 0.75rem 1.5rem;
	border: 2px solid white;
	border-left: none;
	border-radius: 0 30px 30px 0;
	outline: none;
	cursor: pointer;
	transition: 0.2s;
}

@media (min-width: 768px) {
	.userAvatar {
		width: 15rem;
		height: 15rem;
	}

	.user {
		font-size: 2.5rem;
	}

	.passwordInput,
	.signInButton,
	.loginJoinButton,
	.logoutButton {
		font-size: 1.25rem;
	}

	.logoutButton {
		padding: 0.5rem 1.25rem;
		font-size: 0.7rem;
	}
}
