@import "./../../../assets/styles/variables";

.translatorBottomSection {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 0.25rem;
}

.translateResult {
	height: 100%;
	flex: 1;
	padding: 0.5rem;
	font-size: 1rem;
	word-break: break-all;
}

.translateResultParagraph {
	height: 100%;
	flex: 1;
	word-break: break-all;
}

.translatorLoading {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	flex-direction: column;
}

.translateTextArea {
	height: 100%;
	flex: 1;

	display: flex;
	vertical-align: top;
	outline: none;
	padding: 0.5rem;
	font-size: 1rem;
	resize: none;
}

@media (min-width: 768px) {
	.translateTextArea,
	.translateResult,
	.translateResultParagraph {
		font-size: 1.5rem;
	}
}
