@import "../../../assets/styles/variables";

.paintTools {
	height: 8rem;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.paintToolsGroup {
	display: flex;
	padding: 0 0.5rem;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	gap: 0.5rem;
}

.paintSizeParagraph {
	width: 4rem;
}

.paintInputContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.paintInputColor {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	cursor: pointer;
	outline: none;

	&::-webkit-color-swatch {
		border-radius: 50%;
	}

	&::-moz-color-swatch {
		border-radius: 50%;
	}
}

.paintInputThickness {
	border-radius: 30px;
	outline: none;

	-webkit-appearance: none;
	appearance: none;
	outline: none;

	width: 3.5rem;
	height: 2rem;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		border-radius: 30px;
		width: 25px;
		height: 25px;

		cursor: pointer;
	}
}

.paintButton {
	padding: 0.25rem;

	border-radius: 30px;
	width: 2rem;
	height: 2rem;

	cursor: pointer;
}

.paintButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

@media (min-width: 768px) {
	.paintTools {
		font-size: 1.25rem;
	}
	.paintSizeParagraph {
		width: 5rem;
	}

	.paintInputThickness {
		width: 6rem;
	}

	.paintButton {
		width: 4rem;
		font-size: 1rem;
	}
}
