.ToDoListAddTask {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.ToDoListInputWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
	padding: 0.15rem;
}

.hideEditBtn {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	border: none;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.allowEditBtn {
	width: 100%;
	font-size: 1.5rem;
	height: 4rem;
	cursor: pointer;
}

.ToDoListInput {
	padding: 0.45rem;
	margin: 0.15rem;
	width: 60%;
	outline: none;
	transition: 0.1s;
	border-radius: 100px;
}

.ToDoListButton {
	padding: 0.55rem 2rem;
	margin: 0.5rem;
	border-radius: 100px;
	transition: 0.1s;
	cursor: pointer;
}

.ToDoListRadioButtons {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.taskContent {
	max-width: 90%;
	overflow-x: auto;
	flex: 1;

	scrollbar-color: black;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		margin: 5px;
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(150, 150, 150);
	}

	&::-webkit-scrollbar-track {
		background-color: rgb(212, 212, 212);
	}
}

.taskContent p,
.taskContent h2 {
	max-width: 100%;
	text-overflow: ellipsis;
}

@media (min-width: 768px) {
	.ToDoListInput {
		padding: 0.55rem;
		margin: 0.25rem;
		width: 50%;
		outline: none;
		font-size: 1.25rem;
		transition: 0.1s;
		border-radius: 100px;
	}

	.ToDoListAddTask label {
		font-size: 1.25rem;
		margin: 0.55rem;
	}

	.ToDoListButton {
		padding: 0.75rem 6rem;
		font-size: 1.25rem;
	}

	.hideEditBtn {
		font-size: 1rem;
	}

	.allowEditBtn {
		font-size: 2.5rem;
	}

	.ToDoListRadioButtons {
		width: 15%;
		justify-content: space-around;
	}
}
