@import "../../assets/styles/variables";

.userWindow {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 14rem;
	height: 5rem;
	font-size: 0.9rem;
	display: flex;
	justify-content: space-around;
	align-items: center;

	flex-direction: column;
}

.userWindow p {
	font-weight: bold;
}

.userWindow button {
	cursor: pointer;
	outline: none;
	border: none;

	padding: 0.5rem 1rem;
}
