.toDoInfo {
	font-weight: bold;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.ToDoListTasksContainer {
	position: relative;
	width: 100%;
	display: flex;
	flex: 1 0 0;
	flex-direction: column;
	overflow: auto;
	align-items: flex-start;

	scrollbar-color: black;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		margin: 5px;
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: black;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

.ToDoListTask {
	width: 100%;
	display: flex;

	border-top: none;
	border-left: none;
	border-right: none;
	padding: 0.25rem;
	justify-content: space-between;
	align-items: center;
}

.taskOptions button {
	border: 2px solid black;
	cursor: pointer;
	padding: 0.25rem;
	width: 3rem;
	height: 3rem;
	background-color: rgb(51, 51, 51);
	color: white;
	transition: 0.1s;

	&:focus,
	&:hover {
		background-color: black;
		color: white;
	}
}

.taskContent {
	max-width: 90%;
	overflow-x: auto;
	flex: 1;

	scrollbar-color: black;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		margin: 5px;
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(150, 150, 150);
	}

	&::-webkit-scrollbar-track {
		background-color: rgb(212, 212, 212);
	}
}

.taskContent p,
.taskContent h2 {
	max-width: 100%;
	text-overflow: ellipsis;
	margin: 0.25rem;
}

.taskOptions {
	justify-content: flex-end;
	align-items: center;
	display: flex;
	gap: 5%;
	margin: 0.25rem 0.25rem 0.25rem 2rem;
}

@media (min-width: 768px) {
	.toDoInfo {
		font-size: 2rem;
	}
}
