.wifiContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	width: 10rem;
	height: 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;

	flex-direction: column;

	& > p {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
}
