@import './partials/animation';
@import './partials/website';
@import './partials/todolist';
@import './partials/notepad';
@import './partials/paint'; 
@import './partials/clock';
@import './partials/calculator';
@import './partials/footer';

#root {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial'
}

body {
    height: 100vh;
    overflow: hidden;
}