@import "../../../assets/styles/variables";

.changePasswordSection {
	display: flex;
	justify-content: center;
	gap: 10%;
	align-items: center;
	flex-direction: column;
	min-height: 40%;
	width: 100%;
}

.usersDataContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	gap: 1rem;
}

.usersDataRight {
	position: relative;
	img {
		width: 5rem;
		height: 5rem;
		border-radius: 300px;
		border: 2px solid white;
		&:after {
			opacity: 0;
			content: "<i class='fa-solid fa-paintbrush'></i>";
			font-size: 30px;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.usersDataLeft {
	display: flex;
	justify-content: center;
	align-items: space-between;
	flex-direction: column;
	gap: 0.5rem;
}
.usersDataBox {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
	align-items: center;

	button {
		width: 4rem;
		border-radius: 10px;
		padding: 0.1rem 0.1rem;
		cursor: pointer;
	}
}

.swal2-html-container {
	overflow: hidden !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column !important;
	width: 100% !important;
	margin: 1rem 0 0 00 !important;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		label {
			margin: 1rem 0 0 0;
		}
		input {
			margin: 0;
		}
	}
}
.avatarBox {
	position: relative;

	.avatarFileInput {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		width: 100%;
		height: 100%;
	}
}

.swal2-validation-message {
	opacity: 0;
	width: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 0 !important;
}

@media (min-width: 768px) {
	.changePasswordSection h2 {
		font-size: 2.25rem;
	}

	.usersDataContainer {
		gap: 1rem;
	}

	.usersDataRight {
		img {
			width: 8rem;
			height: 8rem;
		}
	}

	.usersDataBox {
		display: flex;
		justify-content: space-between;
		gap: 1.5rem;
		align-items: center;

		button {
			width: 5rem;
			height: 1.5rem;
		}
	}
}
