@import "../../../assets/styles/variables";

.changeWallpaperSection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
	min-height: 70%;
	gap: 10%;
}

.wallpaperSectionSettings {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70%;
	width: 100%;
	gap: 5%;
}

.wallpaperConfirmButton {
	transition: 0.1s;
	padding: 0.75rem 1.5rem;
	border-left: none;
	border-radius: 0 30px 30px 0;
	outline: none;
	cursor: pointer;
}

.wallpaperInput {
	padding: 0.75rem 1.5rem;
	border-right: none;
	border-radius: 30px 0 0 30px;
	outline: none;
	transition: 0.1s;
}

.wallpaperPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2;
}
.wallpaperInput {
	border-radius: 30px 0 0 30px;
}

.wallpapersSelection {
	width: 100%;
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	& button {
		width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: transparent;
		& img {
			flex: 1;
			width: 100%;
		}
	}
}

.wallpapersStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
	flex: 1;
}

.wallpapersStyleButton {
	width: 4.5rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	cursor: pointer;
}

@media (min-width: 768px) {
	.changeWallpaperSection h2 {
		font-size: 2.25rem;
	}

	.wallpaperInput,
	.wallpaperConfirmButton {
		font-size: 1.5rem;
	}
}

@media (min-width: 1200px) {
	.wallpapersSelection {
		width: 60%;
	}
}
