.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(4, 0, 14, 1) 0%, rgba(17, 14, 25, 1) 15%, rgba(16, 17, 17, 1) 76%);
    opacity: 100%;
    transition: opacity 0.1s linear;
    position: absolute;
    z-index: 2;
}

.container-animation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white
}

.profile {
    background: linear-gradient(180deg, rgba(36, 8, 105, 1) 0%, rgba(17, 7, 56, 1) 32%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white
}

.fa-user {
    color: white;
}

.container-animation div {
    position: relative;
    display: flex;
}

.fa-arrow-right-to-bracket {
    color: black;
    position: absolute;
    cursor: pointer;
}

.container-animation input {
    border-radius: 30px;
    border: 2px solid gray;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 16px;
    border: 16px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 320px) and (orientation:portrait) {
    .profile {
        width: 130px;
        height: 130px;
        border-radius: 200px;
        margin-bottom: 10px
    }

    .container-animation h2 {
        margin-bottom: 10px
    }

    .fa-arrow-right-to-bracket {
        top: 9px;
        left: 85%;
    }

    .container-animation input {
        height: 30px;
        text-indent: 12px;
    }

    .fa-user {
        font-size: 52px;
    }
}

@media (min-width: 375px) and (orientation:portrait) {
    .profile {
        width: 160px;
        height: 160px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .fa-arrow-right-to-bracket {
        top: 12px;
        left: 85%;
    }

    .container-animation input {
        height: 35px;
        font-size: 16px;
        text-indent: 12px;
    }

    .fa-user {
        font-size: 70px;
    }
}

@media (min-width: 414px) and (orientation:portrait) {
    .profile {
        width: 190px;
        height: 190px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .fa-arrow-right-to-bracket {
        top: 13px;
        left: 85%;
    }

    .container-animation input {
        height: 40px;
        font-size: 18px;
        text-indent: 16px;
    }

    .fa-user {
        font-size: 85px;
    }
}

@media (min-width: 533px) and (orientation:landscape) {
    .profile {
        width: 120px;
        height: 120px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .fa-arrow-right-to-bracket {
        top: 10px;
        left: 85%;
    }

    .container-animation input {
        height: 30px;
        font-size: 14px;
        text-indent: 16px;
    }

    .fa-user {
        font-size: 60px;
    }
}

@media (min-width: 667px) and (orientation:landscape) {
    .profile {
        width: 150px;
        height: 150px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 20px;
        font-size: 35px;
    }

    .fa-arrow-right-to-bracket {
        top: 12px;
        left: 85%;
        font-size: 16px;
    }

    .container-animation input {
        height: 35px;
        font-size: 16px;
        text-indent: 16px;
    }

    .fa-user {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (orientation:portrait) {
    .profile {
        width: 250px;
        height: 250px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 20px;
        font-size: 55px;
    }

    .fa-arrow-right-to-bracket {
        top: 14px;
        left: 85%;
        font-size: 23px;
    }

    .container-animation input {
        height: 47px;
        font-size: 23px;
        text-indent: 18px;
    }

    .fa-user {
        font-size: 110px;
    }
}

@media (min-width: 1024px) and (orientation:portrait) {
    .profile {
        width: 330px;
        height: 330px;
        border-width: 4px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 20px;
        font-size: 65px;
    }

    .fa-arrow-right-to-bracket {
        top: 18px;
        left: 85%;
        font-size: 30px;
    }

    .container-animation input {
        height: 67px;
        font-size: 30px;
        text-indent: 20px;
    }

    .fa-user {
        font-size: 160px;
    }
}

@media (min-width: 1112px) and (orientation:landscape) {
    .profile {
        width: 270px;
        height: 270px;
        border-width: 4px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 20px;
        font-size: 65px;
    }

    .fa-arrow-right-to-bracket {
        top: 18px;
        left: 85%;
        font-size: 30px;
    }

    .container-animation input {
        height: 67px;
        font-size: 30px;
        text-indent: 20px;
    }

    .fa-user {
        font-size: 140px;
    }
}

@media (min-width: 1366px) and (orientation:landscape) {
    .profile {
        width: 270px;
        height: 270px;
        border-width: 4px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 20px;
        font-size: 65px;
    }

    .fa-arrow-right-to-bracket {
        top: 20px;
        left: 85%;
        font-size: 30px;
    }

    .container-animation input {
        height: 67px;
        font-size: 30px;
        text-indent: 20px;
    }

    .fa-user {
        font-size: 140px;
    }
}

@media (min-width: 1920px) and (orientation:landscape) {
    .profile {
        width: 340px;
        height: 340px;
        border-width: 4px;
        border-radius: 200px;
        margin-bottom: 20px
    }

    .container-animation h2 {
        margin-bottom: 20px;
        font-size: 65px;
    }

    .fa-arrow-right-to-bracket {
        top: 22px;
        left: 85%;
        font-size: 37px;
    }

    .container-animation input {
        height: 77px;
        font-size: 37px;
        text-indent: 22px;
    }

    .fa-user {
        font-size: 140px;
    }
}