#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#calculator .score {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 22px;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: lightgreen;
    text-shadow: 0 0 30px green;
    border: 5px solid rgb(49, 49, 49);
    overflow-y: auto;
    overflow-x: hidden
}

#calculator .score p {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
    margin-left: 20px;
}

#calculator p {
    position: relative;
    top: 5px;
    left: 3px;
}

#calculator .buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
}

#calculator .buttons>* {
    width: 20%;
    box-sizing: border-box;
    height: 20%;
    border: 2px solid black;
    cursor:pointer;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 3px;
    transition: 0.1s linear;
    border-radius: 300px;
}

#calculator .buttons>*:hover {
    width: 21%;
    height: 21%;
    background-color: rgb(196, 196, 196);
}

@media (min-width: 320px) and (orientation:portrait) {
    #calculator .buttons > * {
        font-size: 18px;
    }

    #calculator .buttons {
        margin-bottom: 20%;
    }
}

@media (min-width: 768px) and (orientation:portrait) {

    #calculator .score {
        font-size: 30px;
    }

    #calculator .buttons > * {
        font-size: 30px;
    }
    
    #calculator .buttons {
        margin-bottom: 10%;
    }
}

@media (min-width: 912px) and (orientation:portrait) {
    #calculator .score {
        font-size: 40px;
        height: 30%;
    }

    #calculator .buttons > * {
        font-size: 50px;
    }
}


    @media (min-width: 533px) and (orientation:landscape) {
        #calculator .score {
            font-size: 32px;
            height: 20%;
        }
    
        #calculator .buttons > * {
            font-size: 18px;
            height: 13%;
        }
        #calculator .buttons {
            margin-bottom: 0;
        } 
    }


    @media (min-width: 731px) and (orientation:landscape) {
        #calculator .score {
            font-size: 28px;
            height: 15%;
        }
    
        #calculator .buttons > * {
            font-size: 25px;
            height: 15%;
        }
        #calculator .buttons {
            margin-bottom: 5%;
        } 
    }

    @media (min-width: 1024px) and (orientation:landscape) {
        #calculator .score {
            font-size: 32px;
            height: 20%;
        }
    
        #calculator .buttons > * {
            font-size: 30px;
            height: 20%;
        }
        #calculator .buttons {
            margin-bottom: 10%;
        } 
    }