@import "./../../assets/styles/variables";

.appContainerBackground {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 2;
}

.appContainer {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	z-index: 3;
	overflow: hidden;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.appContainerHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
}

.closeButton {
	background-color: transparent;
	width: 3.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	border: none;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
}

.appContainerContent {
	flex: 1;
}

@media (min-width: 768px) {
	.appContainer.smallContainer {
		width: 50%;
	}
}
