@import "../../../assets/styles/variables";
.saperBoard {
	padding: 0.25rem;
	position: relative;
}

.saperBoardContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-over {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 2rem;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	animation: 400ms linear gameOver;

	& > span {
		width: 100%;
		opacity: 0;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: 400ms 400ms linear gameOver forwards;
	}
}

.saperCell {
	width: 2.25rem;
	height: 2.25rem;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.saperCellRevealed {
	background-color: white;
}

.saperCenter {
	text-align: center;
}

.saperRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.saperCell {
		width: 4rem;
		height: 4rem;
		font-size: 2rem;
	}
}

@media (min-width: 1200px) {
	.saperBoardContainer {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.saperCell {
		width: 3.5rem;
		height: 3.5rem;
	}
}

@keyframes gameOver {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
