@import "../../assets/styles/variables";

.saperContainer {
	width: 100%;
	height: 100%;
	background-color: $app-background-color;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	color: white;
}

.saperButton {
	transition: 0.1s;
	background-color: black;
	color: white;
	padding: 0.75rem 1.5rem;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 30px;
	outline: none;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $primary-color;
		color: white;
	}
}

.saperEndScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	gap: 1rem;
	flex-direction: column;
}

.game-over {
	height: 1rem;
}

@media (min-width: 768px) {
	.saperContainer {
		font-size: 2rem;
	}

	.saperButton {
		font-size: 2rem;
	}

	.game-over {
		height: 2rem;
	}
}
