@import "../../assets/styles/variables";

.saperContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.saperButton {
	transition: 0.1s;
	padding: 0.75rem 1.5rem;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
}

.saperEndScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	gap: 1rem;
	flex-direction: column;
}

.game-over {
	height: 1rem;
}

@media (min-width: 768px) {
	.saperContainer {
		font-size: 2rem;
	}

	.saperButton {
		font-size: 2rem;
	}

	.game-over {
		height: 2rem;
	}
}
