.loginScreen {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: -1rem;
		left: -1rem;
		width: 150%;
		height: 150%;
		background-color: black;
		background: url("../../assets/test.webp");
		filter: blur(5px);
		margin: 0;
		z-index: -1;
		animation: slideAnimation 200s linear infinite;
	}
}

.loginTimer {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 1rem;
	font-size: 3rem;
	color: white;
}

@keyframes slideAnimation {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 100% 0%;
	}
}
