.loginScreen {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: -1rem;
		left: -1rem;
		width: 150%;
		height: 150%;
		background-color: black;
		background: url("../../assets/test.webp");
		filter: blur(5px);
		margin: 0;
		z-index: -1;
		animation: slideAnimation 200s linear infinite;
	}
}

.loginTimer {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 1rem;
	font-size: 3rem;
}

.loginProfile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	gap: 1rem;
}
.userAvatar {
	width: 10rem;
	border: 6px solid white;
	border-radius: 400px;
	background: linear-gradient(225deg, rgba(12, 33, 232, 1) 0%, rgba(255, 0, 230, 1) 100%);
}

.user {
	font-size: 2rem;
	font-weight: bold;
}

.loginPanel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.passwordInput,
.loginJoinButton {
	background-color: black;
	color: white;
	padding: 0.75rem 1.5rem;
	border: 2px solid white;
	border-right: none;
	border-radius: 30px 0 0 30px;
	outline: none;
	transition: 0.1s;

	&:autofill,
	&:autofill:hover {
		box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
		-webkit-text-fill-color: white !important;
	}

	&:autofill:focus,
	&:autofill:active {
		box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
		-webkit-text-fill-color: rgb(0, 0, 0) !important;
	}

	&:focus {
		background-color: white;
		color: black;

		& ~ .signInButton {
			background-color: white;
			color: black;
		}
	}
}

.signInButton {
	transition: 0.1s;
	background-color: black;
	color: white;
	padding: 0.75rem 1.5rem;
	border: 2px solid white;
	border-left: none;
	border-radius: 0 30px 30px 0;
	outline: none;
	cursor: pointer;

	&:hover,
	&:focus {
		color: rgb(214, 23, 214);
	}
}

@media (min-width: 768px) {
	.userAvatar {
		width: 15rem;
	}

	.user {
		font-size: 2.5rem;
	}

	.passwordInput,
	.signInButton,
	.loginJoinButton {
		font-size: 1.25rem;
	}
}

@keyframes slideAnimation {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 100% 0%;
	}
}
