.apps {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.leftApps {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	gap: 1.5rem;
	justify-content: flex-start;
}

.rightApps {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	justify-content: space-between;
	gap: 1.5rem;
}

@media (min-width: 768px) {
	.leftApps {
		margin: 2rem;
		gap: 3rem;
	}

	.rightApps {
		margin: 2rem;
		gap: 3rem;
	}
}
