.desktop {
	flex: 1;
	background-position: 75%;
	display: flex;
	align-items: center;
	position: relative;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.settings {
	position: absolute;
	top: 0;
	right: 0;
}
